body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  font-family: Roboto, sans-serif;
}

.header {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #011827;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  height: 84px;
  width: 78px;
  margin-left: 14px;
  margin-top: 25px;
  margin-bottom: 0;
}
@media (min-width: 900px) {
  .header h1 {
    font-size: 40px;
    font-weight: 700;
    width: auto;
    margin-top: 60px;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.header__container {
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: row;
}
.header__container img {
  height: 82px;
  width: 128px;
  margin-left: 27px;
  margin-top: 26px;
}

.navbar {
  width: 80vw;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
  margin-top: 22px;
  margin-bottom: 22px;
  justify-content: space-evenly;
}
@media (min-width: 900px) {
  .navbar {
    display: flex;
  }
}
.navbar a {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.navbar a:hover {
  color: #8acfe5;
}

.containerOne {
  width: 100%;
  height: 284px;
  background-image: url(media/hackerimg.png);
  background-size: cover;
  background-position: center;
}
@media (min-width: 745px) {
  .containerOne {
    height: 350px;
  }
}
@media (min-width: 900px) {
  .containerOne {
    height: 400px;
  }
}
@media (min-width: 1280px) {
  .containerOne {
    height: 468px;
  }
}
@media (min-width: 1920px) {
  .containerOne {
    height: 600px;
  }
}

.containerTwo {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerTwo__linkBox {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 900px) {
  .containerTwo__linkBox {
    flex-direction: row;
    gap: 17px;
    transform: translateY(-50%);
  }
}
.containerTwo__linkBox a {
  width: 129px;
  height: 19.97px;
  font-size: 16px;
  font-weight: 700;
  color: #36769d;
  margin-top: 30px;
}
@media (min-width: 900px) {
  .containerTwo__linkBox a {
    display: none;
  }
}

.containerTwo__challengesBtn {
  width: 308px;
  height: 66px;
  border: none;
  background-color: #8acfe5;
  margin-top: 35px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 900px) {
  .containerTwo__challengesBtn {
    margin-top: 0px;
  }
}

.containerTwo__onlineChallengesBtn {
  display: none;
}
@media (min-width: 900px) {
  .containerTwo__onlineChallengesBtn {
    width: 308px;
    height: 66px;
    border: none;
    background-color: #e3170a;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    display: unset;
  }
}

@media (min-width: 1180px) {
  .containerTwo__quoteContainer {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
  }
}
.containerTwo__quoteContainer img {
  width: 72px;
  height: 72px;
  margin-right: 22px;
  margin-top: 3px;
}
@media (min-width: 1180px) {
  .containerTwo__quoteContainer img {
    width: 100px;
    height: 100px;
  }
}

.containerTwo__quoteBox {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  height: 139px;
  max-width: 455px;
}
@media (min-width: 1180px) {
  .containerTwo__quoteBox {
    max-width: 520px;
    margin-top: 80px;
    margin-left: 0px;
  }
}

.containerTwo__quotebox {
  display: flex;
  flex-direction: column;
}
.containerTwo__quotebox h2 {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 1180px) {
  .containerTwo__quotebox h2 {
    width: 410px;
  }
}
.containerTwo__quotebox p {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 0;
}

.secondQuote {
  display: none;
}
@media (min-width: 1180px) {
  .secondQuote {
    display: flex;
  }
}

.carousel__title {
  font-weight: 400;
  font-size: 32px;
  margin-top: 105px;
  margin-bottom: 44px;
  margin-right: 10px;
  margin-left: 10px;
  width: 100vw;
  text-align: center;
}
@media (min-width: 1280px) {
  .carousel__title {
    font-size: 36px;
    margin-bottom: 87px;
    margin-top: 108px;
  }
}

.containerTwo__carousel {
  display: flex;
  width: 100vw;
  height: 480px;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 30px;
}
.containerTwo__carousel::-webkit-scrollbar {
  width: 0.1em;
}
.containerTwo__carousel::-webkit-scrollbar-thumb {
  background-color: transparent;
}
@media (min-width: 1180px) {
  .containerTwo__carousel {
    overflow-x: unset;
    justify-content: space-evenly;
    align-items: center;
  }
}

.carousel__card {
  width: 363px;
  height: 446px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 3px rgba(182, 189, 181, 0.4);
}

.carousel__firstCard {
  margin-left: 50px;
}
@media (min-width: 1180px) {
  .carousel__firstCard {
    margin-left: 20px;
  }
}

.carousel__lastCard {
  margin-right: 50px;
}
@media (min-width: 1180px) {
  .carousel__lastCard {
    margin-right: 0px;
  }
}

.carousel__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 219px;
  border-radius: 8px 8px 0 0;
}

.carousel__textBox {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 8px 8px;
}

.carousel__cardTitle {
  width: 308px;
  height: 33px;
  margin: 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
  margin-left: 17px;
  margin-top: 12px;
  margin-right: 38px;
}

.carousel__scoreBox {
  display: flex;
  margin-top: 4px;
  margin-left: 20px;
}

.carousel__star {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.carousel__p {
  width: 159px;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.carousel__subTitle {
  height: 80px;
  width: 328px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 25px;
}

.carousel__buttonBox {
  display: flex;
  flex-direction: row-reverse;
}

.buttonBox__button {
  border: none;
  background-color: #e3170a;
  height: 44px;
  width: 180px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 12px;
  margin-right: 18px;
}

@media (min-width: 900px) {
  .containerTwo__linkBox.buttonsUnderCards {
    margin-top: 67px;
    margin-bottom: 87px;
    transform: translateY(0);
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 1280px) {
  .containerTwo__linkBox.buttonsUnderCards {
    margin-bottom: 87px;
    transform: translateY(0);
  }
}
@media (min-width: 900px) {
  .containerTwo__linkBox.buttonsUnderCards button {
    margin-top: 0;
  }
}

.underCarouselBtn {
  margin-top: 15px;
}

.underCarouselLink {
  margin-bottom: 60px;
}

.containerThree {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #011827;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 1280px) {
  .containerThree {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.containerThree button {
  border-color: #8acfe5;
  border-style: solid;
  border-radius: 4px;
  width: 308px;
  height: 66px;
  background-color: #011827;
  font-size: 24px;
  color: #8acfe5;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 91px;
}
@media (min-width: 1280px) {
  .containerThree button {
    margin-bottom: 142px;
    margin-top: 0;
  }
}
.containerThree h1 {
  font-size: 28px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  height: 234px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 95px;
  max-width: 632px;
}
@media (min-width: 1280px) {
  .containerThree h1 {
    margin-top: 123px;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
  }
}

.containerFour {
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
@media (min-width: 900px) {
  .containerFour {
    flex-direction: row;
    height: 460px;
  }
}
@media (min-width: 1920px) {
  .containerFour {
    width: 100vw;
    height: 600px;
  }
}

.containerFour__textBox,
.containerFive__textBox {
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
@media (min-width: 900px) {
  .containerFour__textBox,
  .containerFive__textBox {
    width: 50vw;
    height: 460px;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1920px) {
  .containerFour__textBox,
  .containerFive__textBox {
    width: 50vw;
    height: 600px;
  }
}

.containerFour__img,
.containerFive__img {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 900px) {
  .containerFour__img,
  .containerFive__img {
    width: 50vw;
    height: 460px;
  }
}
@media (min-width: 1920px) {
  .containerFour__img,
  .containerFive__img {
    width: 50vw;
    height: 600px;
  }
}

.containerFour__title,
.containerFive__title {
  height: -moz-fit-content;
  height: fit-content;
  max-width: 655px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}
@media (min-width: 575px) {
  .containerFour__title,
  .containerFive__title {
    max-width: 420px;
  }
}
@media (min-width: 900px) {
  .containerFour__title,
  .containerFive__title {
    margin-top: 60px;
  }
}
@media (min-width: 1920px) {
  .containerFour__title,
  .containerFive__title {
    max-width: 700px;
    font-size: 36px;
    margin-bottom: 20px;
  }
}

.containerFour__subTitle,
.containerFive__subTitle {
  text-align: left;
  height: 112px;
  max-width: 655px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 21px;
  margin-right: 24px;
}
@media (min-width: 575px) {
  .containerFour__subTitle,
  .containerFive__subTitle {
    max-width: 420px;
  }
}
@media (min-width: 1920px) {
  .containerFour__subTitle,
  .containerFive__subTitle {
    font-size: 28px;
    max-width: 700px;
  }
}

.containerFour__buttonBox,
.containerFive__buttonBox {
  width: 100vw;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 575px) {
  .containerFour__buttonBox,
  .containerFive__buttonBox {
    max-width: 420px;
  }
}
@media (min-width: 1920px) {
  .containerFour__buttonBox,
  .containerFive__buttonBox {
    max-width: 700px;
  }
}

.containerFour__button,
.containerFive__button {
  border: none;
  background-color: #e3170a;
  height: 66px;
  width: 308px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 64px;
  margin-right: 151px;
  margin-left: 21px;
  font-weight: 700;
  position: relative;
}
@media (min-width: 575px) {
  .containerFour__button,
  .containerFive__button {
    margin-left: 0;
    margin-bottom: 66px;
    margin-right: 0;
  }
}
@media (min-width: 1920px) {
  .containerFour__button,
  .containerFive__button {
    margin-bottom: 46px;
    margin-top: 20px;
  }
}

.containerFive {
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
@media (min-width: 900px) {
  .containerFive {
    flex-direction: row-reverse;
    height: 460px;
    margin-bottom: 183px;
  }
}
@media (min-width: 1920px) {
  .containerFive {
    width: 100vw;
    height: 600px;
  }
}

.footer {
  background-color: #011827;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.footer__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    height: 470px;
  }
}

.footer__boxOne {
  height: -moz-fit-content;
  height: fit-content;
  max-width: 480px;
}

.footer__boxTwo {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 900px) {
  .footer__boxTwo {
    margin-bottom: 100px;
  }
}

.footer__boxThree {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__title {
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  margin-left: 22px;
  margin-bottom: 7px;
  margin-top: 35px;
}
@media (min-width: 900px) {
  .footer__title {
    margin-top: 125px;
  }
}

.footer__sub {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-left: 21px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 900px) {
  .footer__sub {
    margin-bottom: 125px;
  }
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-left: 22px;
  margin-right: 22px;
  text-decoration: none;
  margin-bottom: 0;
}

.footerLinebreak {
  margin-top: 18px;
}

.footerLinkLast {
  margin-bottom: 60px;
}
@media (min-width: 900px) {
  .footerLinkLast {
    margin-bottom: 153px;
  }
}/*# sourceMappingURL=main.css.map */