/* == 575 == */

@media screen and (min-width: 575px) {
  .containerFour__title,
  .containerFour__subTitle,
  .containerFive__title,
  .containerFive__subTitle {
    max-width: 420px;
  }

  .containerFour__buttonBox,
  .containerFive__buttonBox {
    max-width: 420px;
  }

  .containerFive__button,
  .containerFour__button {
    margin-left: 0;
    margin-bottom: 66px;
    margin-right: 0;
  }
}

/* == 745 == */

@media screen and (min-width: 745px) {
  .containerOne {
    height: 350px;
  }
}

/* == 900 == */

@media screen and (min-width: 900px) {
  .header__title {
    font-size: 40px;
    font-weight: 700;
    width: auto;
    margin-top: 60px;
    height: fit-content;
  }

  .navbar {
    display: flex;
  }

  .containerOne {
    height: 400px;
  }

  .containerTwo__challengesLink {
    display: none;
  }

  .containerTwo__linkBox {
    flex-direction: row;
    gap: 17px;
    transform: translateY(-50%);
  }

  .containerTwo__onlineChallengesBtn {
    width: 308px;
    height: 66px;
    border: none;
    background-color: #e3170a;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    display: unset;
  }

  .containerTwo__challengesBtn {
    margin-top: 0px;
  }

  .buttonsUnderCards {
    margin-top: 87px;
  }

  .containerTwo__linkBox.buttonsUnderCards {
    margin-bottom: 87px;
    transform: translateY(0);
  }

  .containerFour,
  .containerFive {
    flex-direction: row;
    height: 460px;
  }

  .containerFour__img,
  .containerFive__img {
    width: 50vw;
    height: 460px;
  }

  .containerFour__textBox,
  .containerFive__textBox {
    width: 50vw;
    height: 460px;
    justify-content: center;
    align-items: center;
  }

  .containerFour__title,
  .containerFour__subTitle,
  .containerFive__title,
  .containerFive__subTitle {
    max-width: 420px;
  }

  .containerFour__title,
  .containerFive__title {
    margin-top: 60px;
  }


  .containerFour__buttonBox,
  .containerFive__buttonBox {
    max-width: 420px;
  }

  .containerFour__button,
  .containerFive__button {
    margin-left: 0;
    margin-bottom: 66px;
    margin-right: 0;
  }

  .containerFive {
    flex-direction: row-reverse;
    margin-bottom: 183px;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer__boxTwo {
    margin-bottom: 100px;
  }

  .footer__title {
    margin-top: 125px;
  }

  .footer__sub {
    margin-bottom: 125px;
  }

  .footerLinkLast {
    margin-bottom: 153px;
  }

}

/* == 1180 == */

@media screen and (min-width: 1180px) {

  .containerTwo__quoteContainer {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
  }

  .containerTwo__quoteBox {
    max-width: 520px;
    margin-top: 80px;
    margin-left: 0px;
  }

  .quoteBox__main {
    width: 410px;
  }

  .secondQuote {
    display: flex;
  }

  .containerTwo__img {
    height: 96px;
    width: 96px;
  }

  .containerTwo__carousel {
    overflow-x: unset;
    justify-content: space-evenly;
    align-items: center;
  }

  .carousel__firstCard .carousel__lastCard {
    margin: 0;
  }
}

/* == 1280 == */

@media screen and (min-width: 1280px) {

  .containerOne {
    height: 468px;
  }

  .carousel__title {
    font-size: 36px;
    margin-bottom: 87px;
    margin-top: 108px;
  }

  .containerTwo__linkBox.buttonsUnderCards {
    margin-bottom: 87px;
    transform: translateY(0);
  }

  .containerThree__text {
    margin-top: 123px;
    height: fit-content;
  }

  .containerThree__button {
    margin-bottom: 142px;
  }

  .footer__container {
    height: 470px;
  }
}

/* == 1500 == */

@media screen and (min-width: 1500px) {
  .containerFour__title,
  .containerFive__title,
  .containerFour__subTitle,
  .containerFive__subTitle,
  .containerFive__buttonBox,
  .containerFour__buttonBox {
    max-width: 500px;
  }

  .containerFour__title,
  .containerFive__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .containerFour__subTitle,
  .containerFive__subTitle {
    font-size: 28px;
  }

  .containerFive__button,
  .containerFour__button {
    margin-bottom: 46px;
    margin-top: 20px;
  }
}

/* == 1920 == */

@media screen and (min-width: 1920px) {
  .containerOne {
    height: 600px;
  }

  .containerFour__img,
  .containerFive__img,
  .containerFour__textBox,
  .containerFive__textBox,
  .containerFour,
  .containerFive {
    width: 50vw;
    height: 600px;
  }

  .containerFive,
  .containerFour {
    width: 100vw;
  }

  .containerFour__title,
  .containerFive__title,
  .containerFour__subTitle,
  .containerFive__subTitle,
  .containerFive__buttonBox,
  .containerFour__buttonBox {
    max-width: 700px;
  }

  .containerFour__title,
  .containerFive__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .containerFour__subTitle,
  .containerFive__subTitle {
    font-size: 28px;
  }

  .containerFive__button,
  .containerFour__button {
    margin-bottom: 46px;
    margin-top: 20px;
  }
}
}